<div class="actual-content" *ngIf="fullScreenBtn == false">
  <div class="actual-content-title">
    <div class="actual-title-con">
      <h2>尘肺患者诊断书</h2>
    </div>
  </div>
  <div class="patient-info">
    <div class="basic-info">
      <div class="container">
        <div class="row">
          <div class="col">姓名 孙婷婷</div>
          <div class="col">性别 女</div>
          <div class="col">年龄 48岁</div>
          <div class="col">病例号 10092736492</div>
        </div>
        <div class="row">
          <div class="col">工龄 5年</div>
          <div class="col">性质 3级</div>
        </div>
      </div>
    </div>
    <div class="illness-state">
      <div class="container">
        <div class="row">
          <div class="col">扼要病情:</div>
        </div>
        <div class="row">
          <div class="col">患者孙婷婷，48岁，由于长时间接触大量粉尘，导致肺部粉尘量过高，于2019-07-06在我院就医</div>
        </div>
      </div>
    </div>
    <div class="diagnosis">
      <div class="container">
        <div class="row">
          <div class="col">分析建议: 三级甲等肺尘病</div>
        </div>
      </div>
    </div>
    <!--<div class="cure-advice">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col">治疗建议: 避免到大量灰尘的地方工作</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="x-ray">
      <div>
        <a class="btn" (click)="reviewFullScreen()">查看全图</a>
      </div>
      <div id="dicomWrapper2"
           class='disable-selection noIbar'
           unselectable='on'
           onselectstart='return false;'
           onmousedown='return false;'>

        <div #dcmEle id="dicomImage2"
             style="height: 500px;">
        </div>

      </div>
    </div>
    <div class="expert-diagnosis">
      <div class="container">
        <div class="row">
          <div class="col-2">专家诊断:</div>
          <div class="col-5" *ngIf="userType == 'tj_expert'">
            <select class="form-control" [(ngModel)]="reviewResult">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="col-5" *ngIf="userType == 'tj_doctor'">一级</div>
        </div>
      </div>
    </div>
    <div class="expert-advice">
      <div class="container">
        <div class="row">
          <div class="col-2">专家建议:</div>
          <div class="col-10" *ngIf="userType == 'tj_doctor'">多段连</div>
          <div class="col-10" *ngIf="userType == 'tj_expert'">
            <textarea name="" id="" cols="130" rows="3" [(ngModel)]="reviewComment"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="submitInfo" *ngIf="userType == 'tj_expert'">
      <button (click)="updateTaskDetail()">提交</button>
    </div>
  </div>
</div>

<div class="dicom-fullscreen" *ngIf="fullScreenBtn">
  <div>
    <a class="btn back" (click)="backDetail()"><i class="fa fa-undo" aria-hidden="true"></i>返回详情</a>
  </div>
  <div id="dicomWrapper"
       class='disable-selection noIbar'
       unselectable='on'
       onselectstart='return false;'
       onmousedown='return false;'>
    <div #fullDcmEle
         id="dicomImage"
         style="position:absolute; top:0; bottom: 0;left:0;right:0;">
    </div>
  </div>
  <div class="dcm-detail">
    <span>Transfer Syntax: </span><span id="transferSyntax"></span><br>
    <span>SOP Class: </span><span id="sopClass"></span><br>
    <span>Samples Per Pixel: </span><span id="samplesPerPixel"></span><br>
    <span>Photometric Interpretation: </span><span id="photometricInterpretation"></span><br>
    <span>Number Of Frames: </span><span id="numberOfFrames"></span><br>
    <span>Planar Configuration: </span><span id="planarConfiguration"></span><br>
    <span>Rows: </span><span id="rows"></span><br>
    <span>Columns: </span><span id="columns"></span><br>
    <span>Pixel Spacing: </span><span id="pixelSpacing"></span><br>
    <span>Bits Allocated: </span><span id="bitsAllocated"></span><br>
    <span>Bits Stored: </span><span id="bitsStored"></span><br>
    <span>High Bit: </span><span id="highBit"></span><br>
    <span>Pixel Representation: </span><span id="pixelRepresentation"></span><br>
    <span>WindowCenter: </span><span id="windowCenter"></span><br>
    <span>WindowWidth: </span><span id="windowWidth"></span><br>
    <span>RescaleIntercept: </span><span id="rescaleIntercept"></span><br>
    <span>RescaleSlope: </span><span id="rescaleSlope"></span><br>
    <span>Basic Offset Table Entries: </span><span id="basicOffsetTable"></span><br>
    <span>Fragments: </span><span id="fragments"></span><br>
    <span>Min Stored Pixel Value: </span><span id="minStoredPixelValue"></span><br>
    <span>Max Stored Pixel Value: </span><span id="maxStoredPixelValue"></span><br>
    <span>Total Time: </span><span id="totalTime"></span><br>
    <span>Load Time: </span><span id="loadTime"></span><br>
    <span>Decode Time: </span><span id="decodeTime"></span><br>
  </div>
</div>

