.patient-info {
  .row {
    margin: 10px 0;
  }

  .basic-info {
    border: 1px solid #adadad;
  }

  .illness-state {
    border: 1px solid #adadad;
  }

  .diagnosis {
    border: 1px solid #adadad;
    height: 80px;
    margin-bottom: 20px;
  }

  .expert-diagnosis {
    border: 1px solid #adadad;
    margin-top: 20px;
    height: 100px;
    .col-1{
      width: 80px;
    }
  }
  .expert-advice {
    border: 1px solid #adadad;
    height: 100px;
  }
  .submitInfo{
    text-align: center;
    margin: 20px;
  }
}
