<div class="actual-content" *ngIf="fullScreenBtn == false">
  <div class="actual-content-title">
    <div class="actual-title-con">
      <h2>尘肺患者诊断书</h2>
      <img src="assets/img/app/underline.png" alt="">
    </div>
  </div>
  <div class="patient-info">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="x-ray">
            <div id="dicomWrapper2"
                 class='disable-selection noIbar cornerstone-enabled-image'
                 unselectable='on'
                 onselectstart='return false;'
                 onmousedown='return false;'>

              <div #dcmEle id="dicomImage2"
                   style="height: 500px;">
              </div>
            </div>
            <div class="review-full-btn">
              <a class="btn" (click)="reviewFullScreen()"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="basic-info">
            <h3><span class="name">{{patientMDInfo.patientName}}</span>的诊断书</h3>
            <div class="basic-info-detail">
              <div class="row">
                <div class="col-3">姓名</div>
                <div class="col-9">{{patientMDInfo.patientName}}</div>
              </div>
              <div class=row><div class="col-3">性别</div><div class="col-9">{{patientMDInfo.sex}}</div> </div>
              <div class=row><div class="col-3">出生日期</div><div class="col-9">{{patientMDInfo.birthday}}</div></div>
              <div class=row><div class="col-3">病例号</div><div class="col-9">10092736492</div> </div>
              <div class=row><div class="col-3">工龄</div><div class="col-9">{{patientMDInfo.dustAge}}</div> </div>
              <div class=row><div class="col-3">粉尘性质</div><div class="col-9">{{patientMDInfo.dustProperty}}</div></div>
              <div class="row" *ngIf="patientMDInfo">
                <div class="col-3">病史</div>
                <div class="col-9" *ngFor="let medicalHistory of patientMDInfo.medicalHistories">
                  {{medicalHistory.description}}&nbsp;&nbsp;&nbsp;{{medicalHistory.startTime}}-{{medicalHistory.endTime}}</div>
              </div>
              <div class="row"><div class="col-3">分析建议</div><div class="col-9">{{patientMDInfo.analysisResult}}</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="expert-diagnosis">
      <div class="container">
        <div class="row">
          <div class="col-2">专家诊断:</div>
          <div class="col-5" *ngIf="userType == 'tj_expert'">
            <div  *ngIf="updateBtn==false">
              <select class="form-control" [(ngModel)]="reviewResult">
                <option *ngFor="let reviewResult of reviewResults" value="{{reviewResult.value}}">{{reviewResult.label}}</option>
              </select>
            </div>
            <div *ngIf="updateBtn==true">{{expertResult}}</div>
          </div>
          <div class="col-5" *ngIf="userType == 'tj_doctor'">{{patientMDInfo.reviewResult}}</div>
        </div>
      </div>
    </div>
    <div class="expert-advice">
      <div class="container">
        <div class="row">
          <div class="col-2">专家建议:</div>
          <div  *ngIf="userType == 'tj_doctor'">{{patientMDInfo.reviewComment }}</div>
          <div class="col-10"  *ngIf="userType == 'tj_expert'">
            <div *ngIf="updateBtn==false">
              <textarea name="" id="" cols="110" rows="3" [(ngModel)]="reviewComment"></textarea>
            </div>
            <div *ngIf="updateBtn==true">
              <span>{{reviewComment}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submitInfo" *ngIf="userType == 'tj_expert'&&updateBtn==false">
      <a class="btn review-btn" (click)="updateTaskDetail()">提交</a>
    </div>
  </div>
</div>

<div class="dicom-fullscreen" *ngIf="fullScreenBtn">
  <div>
    <a class="btn back" (click)="backDetail()"><i class="fa fa-undo" aria-hidden="true"></i>返回详情</a>
  </div>
  <div id="dicomWrapper"
       class='disable-selection noIbar'
       unselectable='on'
       onselectstart='return false;'
       onmousedown='return false;'>
    <div #fullDcmEle
         id="dicomImage"
         style="position:absolute; top:0; bottom: 0;left:0;right:0;">
    </div>
  </div>
  <div class="dcm-detail">
    <span>Transfer Syntax: </span><span id="transferSyntax"></span><br>
    <span>SOP Class: </span><span id="sopClass"></span><br>
    <span>Samples Per Pixel: </span><span id="samplesPerPixel"></span><br>
    <span>Photometric Interpretation: </span><span id="photometricInterpretation"></span><br>
    <!--<span>Number Of Frames: </span><span id="numberOfFrames"></span><br>-->
    <!--<span>Planar Configuration: </span><span id="planarConfiguration"></span><br>-->
    <span>Rows: </span><span id="rows"></span><br>
    <span>Columns: </span><span id="columns"></span><br>
    <span>Pixel Spacing: </span><span id="pixelSpacing"></span><br>
    <span>Bits Allocated: </span><span id="bitsAllocated"></span><br>
    <span>Bits Stored: </span><span id="bitsStored"></span><br>
    <span>High Bit: </span><span id="highBit"></span><br>
    <span>Pixel Representation: </span><span id="pixelRepresentation"></span><br>
    <span>WindowCenter: </span><span id="windowCenter"></span><br>
    <span>WindowWidth: </span><span id="windowWidth"></span><br>
    <span>RescaleIntercept: </span><span id="rescaleIntercept"></span><br>
    <span>RescaleSlope: </span><span id="rescaleSlope"></span><br>
    <span>Basic Offset Table Entries: </span><span id="basicOffsetTable"></span><br>
    <span>Fragments: </span><span id="fragments"></span><br>
    <span>Min Stored Pixel Value: </span><span id="minStoredPixelValue"></span><br>
    <span>Max Stored Pixel Value: </span><span id="maxStoredPixelValue"></span><br>
    <!--<span>Total Time: </span><span id="totalTime"></span><br>-->
    <span>Load Time: </span><span id="loadTime"></span><br>
    <span>Decode Time: </span><span id="decodeTime"></span><br>
  </div>
</div>

