<div class="actual-content">
  <div class="actual-content-title">
    <div class="actual-title-con">
      <h2>尘肺患者诊断书</h2>
    </div>
  </div>
  <div class="patient-info">
    <div class="basic-info">
      <div class="container">
        <div class="row">
          <div class="col">姓名 孙婷婷</div>
          <div class="col">性别 女</div>
          <div class="col">年龄 48岁</div>
          <div class="col">病例号 10092736492</div>
        </div>
        <div class="row">
          <div class="col">工龄 5年</div>
          <div class="col">性质 3级</div>
        </div>
      </div>
    </div>
    <div class="illness-state">
      <div class="container">
        <div class="row">
          <div class="col">扼要病情:</div>
        </div>
        <div class="row">
          <div class="col">患者孙婷婷，48岁，由于长时间接触大量粉尘，导致肺部粉尘量过高，于2019-07-06在我院就医</div>
        </div>
      </div>
    </div>
    <div class="diagnosis">
      <div class="container">
        <div class="row">
          <div class="col">分析建议: 三级甲等肺尘病</div>
        </div>
      </div>
    </div>
    <!--<div class="cure-advice">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col">治疗建议: 避免到大量灰尘的地方工作</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="x-ray">
      <div id="dicomWrapper"
           class='disable-selection noIbar'
           unselectable='on'
           onselectstart='return false;'
           onmousedown='return false;'>

        <div cornerstone
             [image]="imageData"
             id="dicomImage"
             style="height: 500px;">
        </div>

      </div>
    </div>
    <div class="expert-diagnosis">
      <div class="container">
        <div class="row">
          <div class="col-2">专家诊断:</div>
          <div class="col-5">
            <select class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="expert-advice">
      <div class="container">
        <div class="row">
          <div class="col-2">专家建议:</div>
          <div class="col-10">
            <textarea name="" id="" cols="130" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

