<div>
  <div class="actual-content">
    <div class="actual-content-title">
      <div class="actual-title-con">
        <h2>病情分析</h2>
        <img src="assets/img/app/underline.png" alt="">
      </div>
      <div class="case-history-info">
        <div class="register-form">
          <span style="font-size: 1.75rem;">尘肺患者信息登记表</span>
        </div>
        <form [formGroup]="caseHistoryForm" (ngSubmit)="onSubmit(caseHistoryForm.value)" *ngIf="caseHistoryForm">
          <div class="container" [ngSwitch]="step">
            <a *ngSwitchDefault href="" class="btn upload-case-history" [ngClass]="{'disabled':viewBtn}">上传电子病历</a>
            <div *ngSwitchDefault>
              <div class="row ch-row">
                <div class="col">
                  <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="请输入姓名" aria-describedby="sizing-addon1"
                           formControlName="patientName">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"
                                                                          aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-lg">
                    <input #personId type="text" class="form-control" placeholder="请输入身份证号" aria-describedby="sizing-addon1"
                           formControlName="pid" (click)="validatePID()">
                    <span class="input-group-addon" id="sizing-addon4"><i class="fa fa-id-card-o"
                                                                          aria-hidden="true"></i></span>
                    <span *ngIf="pidValidate" style="color:red;">该患者已存在</span>
                  </div>
                </div>
              </div>
              <div class="row ch-row">
                <div class="col">
                  <div class="sex-select">
                    <select class="form-control" formControlName="sex">
                      <option value="" selected>请选择性别</option>
                      <option value="男">男</option>
                      <option value="女">女</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-lg">
                    <datepicker (onSelected)="updateDateRange($event)"></datepicker>
                    <!--<input placeholder="请选择出生日期" type="text" class="form-control" bsDatepicker #dp="bsDatepicker"-->
                           <!--[bsConfig]="bsConfig" formControlName="age" (bsValueChange)="valueChange($event)">-->
                    <!--<span class="input-group-addon" id="sizing-addon5" (click)="dp.show()"><i class="fa fa-calendar"-->
                                                                                              <!--aria-hidden="true"></i></span>-->
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="请输入电话" aria-describedby="sizing-addon1"
                           formControlName="tel">
                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-mobile"
                                                                          aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
              <div class="row ch-row">
                <div class="col-6">
                  <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="请输入工种" aria-describedby="sizing-addon1"
                           formControlName="job">
                  </div>
                </div>
                <div class="col-3">
                  <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="请输入工龄" aria-describedby="sizing-addon1"
                           formControlName="dustAge">
                  </div>
                </div>
                <div class="col-3">
                  <div class="sex-select">
                    <select class="form-control" formControlName="dustProperty">
                      <option value="" selected>请选择粉尘性质</option>
                      <option value="矽肺">矽肺</option>
                      <option value="煤工尘肺">煤工尘肺</option>
                      <option value="石墨尘肺">石墨尘肺</option>
                      <option value="炭黑尘肺">炭黑尘肺</option>
                      <option value="石棉肺">石棉肺</option>
                      <option value="滑石尘肺">滑石尘肺</option>
                      <option value="水泥尘肺">水泥尘肺</option>
                      <option value="云母尘肺">云母尘肺</option>
                      <option value="陶工尘肺">陶工尘肺</option>
                      <option value="铝尘肺">铝尘肺</option>
                      <option value="电焊工尘肺">电焊工尘肺</option>
                      <option value="铸工尘肺">铸工尘肺</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row ch-row">
                <div class="col-6">
                  <div class="sex-select">
                    <select class="form-control" formControlName="complication">
                      <option value="" selected>请选择并发症</option>
                      <option value="无">无</option>
                      <option value="肺内感染">肺内感染</option>
                      <option value="肺癌及胸膜间皮瘤">肺癌及胸膜间皮瘤</option>
                      <option value="自发性气胸">自发性气胸</option>
                      <option value="肺结核">肺结核</option>
                      <option value="慢性肺源性心脏病">慢性肺源性心脏病</option>
                      <option value="慢性阻塞性肺疾病">慢性阻塞性肺疾病</option>
                      <option value="支气管扩张">支气管扩张</option>
                      <option value="支气管哮喘">支气管哮喘</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">

                </div>
              </div>
              <div class="career">
                <textarea type="text" placeholder="    请输入您的职业史" formControlName="jobHistory" ></textarea>
              </div>
              <div class="medicine-history">
                <!--<textarea type="text" placeholder="    请输入您的既往病史" formControlName="medicalHistory"></textarea>-->
                <medical-history [(medicalHistory)]="medicalHistoryList"></medical-history>
              </div>
              <div class="next-step">
                <button type="button" class="btn btn-primary" (click)="step='secondStep'">下一步</button>
              </div>
            </div>
            <div *ngSwitchCase="'secondStep'">
              <div class="row">
                <label class="col-sm-2 control-label">上传临床化验单</label>
                <div class="col-sm-10">
                  <file-upload [url]="fileUploadUrl" [name]="fileName" [fileSizeLimit]="sizeLimit"
                               [disable]="disableUpload"
                               (onFinishUploading)="onFinishUploading($event)"
                               (onUploading)="onFileUploading($event)"></file-upload>
                </div>
              </div>
              <div class="row next-step">
                <div class="col">
                  <button type="button" class="btn btn-primary" (click)="step='firstStep'">上一步</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-primary" (click)="step='thirdStep'">下一步</button>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'thirdStep'">
              <div class="row">
                <div class="col-sm-2 control-label">
                  <p>上传专项检查</p>
                  <p>x光片及肺功能</p>
                </div>
                <div class="col-sm-10 file-upload">
                  <file-upload [url]="fileUploadUrl" [name]="fileName" [fileSizeLimit]="sizeLimit"
                               [disable]="disableUpload"
                               (onFinishUploading)="onFinishUploading($event)"
                               (onUploading)="onFileUploading($event)"></file-upload>
                </div>
              </div>
              <div class="row next-step">
                <div class="col">
                  <button type="button" class="btn btn-primary" (click)="step='secondStep'">上一步</button>
                </div>
                <div class="col">
                  <a type="submit" class="btn btn-primary analyze" [ngClass]="{'disabled': !fileUploadValidate}">智慧分析</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
