.case-history-operation {
  width: auto;
  height: 400px;
  a{
    color:#1d68b3;
  }
  .actual-content-core {
    clear: left;
    margin: 20px 0 0 0;
    .new-case-history {
      float: left;
      border: 1px solid lightblue;
      width: 400px;
      padding: 20px;
      margin-left: 172px;
      border-radius: 5px;
      .new-case-con{
        text-align: center;
      }
    }
    .result-analyze {
      float: left;
      border: 1px solid lightblue;
      width: 400px;
      padding: 20px;
      margin-left: 56px;
      margin-right: 172px;
      border-radius: 5px;
      .new-case-con{
        text-align: center;
      }
    }
  }
}

.case-history-list {
  height: auto;
  background: #f5fafe;
  .actual-content{
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 0px auto;
  }
  .actual-content-core{
    margin: 0;
    background: #ffffff;
    .row{
      .col{
        margin: 20px 30px;
      }
    }
  }
  .actual-content-con{
    margin: 0 30px;
  }
}

.actual-content-title {
  width: auto;
  height: 100px;
  color: #555555;
  h2 {
    text-align: center;
  }
}
.actual-title-con{
  //padding: 35px 0;
}

.actual-content-con{
  clear: left;
  padding:0;
}
.modify-btn,
.new-case-btn{
  background:#1d68b3;
}
.review-btn{
  background: #5bc0de;
}

a:hover{
  color: #ffffff;
}

.dustProperty{
  width: 48px;
  text-align: center;
}

.btn{
  padding: 0.3rem 0.75rem;
}
