<div>
  <div class="sh-content">
    <div class="case-history-operation">
      <div class="actual-content">
        <div class="actual-content-title">
          <div class="actual-title-con">
            <h2>病情建立及分析</h2>
            <img src="../../../../assets/img/app/underline.png" alt="">
          </div>
        </div>
        <div class="actual-content-core">
          <div class="new-case-history" (click)="toggleNewCaseHistory()">
            <div class="new-case-con">
              <div style="margin-bottom: 20px">
                <img src="../../../assets/img/app/dashboard/new-case-history.jpg" alt="">
              </div>
              <a class="btn" [ngClass]="{'disabled': viewBtn}" (click)="newCaseHistory()">新建病例</a>
            </div>
          </div>
          <div class="result-analyze" routerLink="../ra">
            <div class="new-case-con">
              <div style="margin-bottom: 10px">
                <img src="../../../assets/img/app/dashboard/result-analyze.jpg" alt="">
              </div>
              <a class="">分析结果</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="case-history-list">
      <div class="actual-content">
        <div class="actual-content-title">
          <div class="actual-title-con">
            <h2>病例列表</h2>
            <img src="../../../../assets/img/app/underline.png" alt="">
          </div>
        </div>
        <div class="actual-content-core">
          <div class="row">
            <div class="col"><h3>病例列表</h3></div>
            <div class="col" style="text-align: right">
              <a routerLink="../ch" class="btn new-case-btn" [ngClass]="{'disabled': viewBtn}" (click)="newCaseHistory()">
                <i class="fa fa-plus" aria-hidden="true"></i> 添加新病例</a>
            </div>
          </div>
          <div class="actual-content-con">
            <ngx-datatable
              class="material"
              [rows]="caseHistoryList"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="8">
              <ngx-datatable-column name="ID" prop="id" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="名称" prop="patientName" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="性别" prop="sex" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="联系电话" prop="tel" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="接尘工龄" prop="dustAge" [width]="70">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="粉尘性质" prop="dustProperty" [width]="80">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div #dustProperty class="dustProperty">{{value}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="就医时间" prop="createdOn" [width]="150">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="170">
                <ng-template let-row="row" ngx-datatable-cell-template >
                  <a class="btn review-btn" routerLink="../mpd"><i class="fa fa-eye" aria-hidden="true"></i> 查看</a>
                  <a class="btn modify-btn" routerLink="../ch" (click)="getPatientId(row)">
                    <i class="fa fa-pencil" aria-hidden="true"></i> 修改</a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
