<div class="row">
  <div class="col-4">
    <div class="input-group input-group-lg">
      <input type="text" placeholder="请输入病史" class="form-control" [(ngModel)]="medicalHistoryDesc">
    </div>
  </div>
  <div class="col-4">
    <div class="input-group input-group-lg">
      <date-range-picker (onSelected)="updateDateRange($event)"></date-range-picker>
      <!--<input placeholder="请选择病史的时间段" type="text" class="form-control" bsDaterangepicker #dpr="bsDaterangepicker" [bsConfig]="bsConfig"-->
             <!--[(bsValue)]="bsRangeValue">-->
      <!--<span class="input-group-addon" id="sizing-addon" (click)="dpr.show()"><i class="fa fa-calendar"-->
                                                                                <!--aria-hidden="true"></i></span>-->
    </div>
  </div>
  <div class="col-3">
    <div class="input-group input-group-lg">
      <a class="btn add-btn" (click)="addMedicalHistory()">添加</a>
    </div>
  </div>
</div>

<div class="all-medical-history" *ngIf="medicalHistoryList">
  <div class="row" *ngFor="let medicalHistory of medicalHistoryList">
    <div class="col">病史描述:{{medicalHistory.description}}</div>
    <div class="col">时间:{{medicalHistory.startTime}}-{{medicalHistory.endTime}}</div>
  </div>
</div>
