<div class="sh-header">
  <div class="sh-top">
    <div class="logo">
      <span><img src="assets/img/app/logo.png" alt="">天明创新</span>
    </div>
    <div class="login">
      <a href="" (click)="toggleDB()">首页</a>
      <a href="" (click)="toggleCH()" class="btn" [ngClass]="{'disabled':viewBtn}">新建病例</a>
      <a href="" (click)="toggleRA()">分析结果</a>
      <a href="" (click)="logout()">退出</a>
    </div>
  </div>
  <div class="sh-header-title">
    <h2>职业性尘肺病智能体检平台</h2>
    <h4>尘肺病智能会诊中心，破除尘肺病治疗难题您健康的保障</h4>
  </div>
</div>
