<div>
  <div class="actual-content">
    <div class="actual-content-title">
      <div class="actual-title-con">
        <h2>病人详情页</h2>
        <img src="assets/img/app/underline.png" alt="">
      </div>
    </div>
    <div class="sick" *ngIf="patientInfo">
      <div class="sick-people-info">
        <div class="container">
          <div class="row ch-row">
            <div class="col">姓名：{{patientInfo.patientHistory.patientName}}</div>
            <div class="col">性别：{{patientInfo.patientHistory.sex}}</div>
            <div class="col">工龄：{{patientInfo.patientHistory.dustAge}}</div>
            <div class="col">粉尘性质：{{patientInfo.patientHistory.dustProperty}}</div>
          </div>
          <div class="row ch-row">
            <div class="col-2">扼要病情:</div>
            <div class="col-10">
              <div *ngFor="let medicalHistory of patientInfo.medicalHistories" class="row">
                <div class="col-4">{{medicalHistory.description}}</div>
                <div class="col-4">{{medicalHistory.startTime}}-{{medicalHistory.endTime}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sick-people-xRay">
        <accordion [closeOthers]="true">
          <accordion-group #group *ngFor="let e of demoList; let i=index">
            <div accordion-heading (click)="openAccordion(i)">
              2017-05-12 - 2017-06-13
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
            <div>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="x-ray">
                      <div id="dicomWrapper"
                           class='disable-selection noIbar'
                           unselectable='on'
                           onselectstart='return false;'
                           onmousedown='return false;'>

                        <div id="{{'dicomImage'+ i }}"
                             style="height: 300px;">
                        </div>
                      </div>
                      <div class="review-full-btn">
                        <a class="btn"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="basic-info">
                      <h3><span class="name">{{patientInfo.patientHistory.patientName}}</span>的诊断书</h3>
                      <div class="basic-info-detail">
                        <div class="row margin-row">
                          <div class="col-3">姓名</div>
                          <div class="col-9">{{patientInfo.patientHistory.patientName}}</div>
                        </div>
                        <div class="row margin-row">
                          <div class="col-3">性别</div>
                          <div class="col-9">{{patientInfo.patientHistory.sex}}</div>
                        </div>
                        <div class="row margin-row">
                          <div class="col-3">出生日期</div>
                          <div class="col-9">{{patientInfo.patientHistory.birthday}}</div>
                        </div>
                        <div class="row margin-row">
                          <div class="col-3">工龄</div>
                          <div class="col-9">{{patientInfo.patientHistory.dustAge}}</div>
                        </div>
                        <div class="row margin-row">
                          <div class="col-3">性质</div>
                          <div class="col-9">{{patientInfo.patientHistory.dustProperty}}</div>
                        </div>
                        <!--<div class=""row margin-row"">-->
                          <!--<div class="col-3">扼要病情</div>-->
                          <!--<div class="col-9">患者孙婷婷，48岁，由于长时间接触大量粉尘，导致肺部粉尘量过高，于2019-07-06在我院就医</div>-->
                        <!--</div>-->
                        <div class="row margin-row">
                          <div class="col-3">分析建议</div>
                          <div class="col-9">三级甲等肺尘病</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
