a:hover{
  color:#fff;
}
.actual-content-con {
  clear: left;
  padding: 0;
  margin: 0 30px;
}

.new-case-btn {
  background: #1d68b3;
}

.result {
  background: #f5fafe;
  .actual-content {
    margin: 0 auto;
  }
  padding: 40px 0;
  .result-content {
    background: #ffffff;
    margin-top: 30px;

    .row {
      .col {
        margin: 20px 30px;
      }
    }
  }
}

.review-btn{
  background: #5bc0de;
}

.btn{
  padding: 0.3rem 0.75rem;
}
