/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:#ffffff;
}

button{
  cursor: pointer;
}

.datatable-row-even {
  background: #efefef;
}

.ngx-datatable.material{
  box-shadow: 0px 0px 0px;
}

.datatable-header{
  border-top:1px solid #adadad;
}

.actual-content {
  width: 1200px;
  margin: 30px auto;
}

.actual-content-title {
  width: auto;
  color: #555555;
  h2 {
    text-align: center;
  }
  .actual-title-con {
    //padding: 35px 0 17px 0;
    text-align: center;
  }
}
