<div>
  <div class="sh-header">
    <div class="sh-top">
      <div class="logo">
        <span>TM 尘肺病远程会诊中心</span>
      </div>
      <div class="login">
        <a href="">首页</a>
        <a href="">查看病例</a>
        <a href="">分析结果</a>
      </div>
    </div>
    <div class="sh-header-title">
      <h1>健康管理更简单</h1>
      <h3>尘肺病远程会诊中心，破除尘肺病治疗难题您健康的保障</h3>
    </div>
  </div>
  <div class="sh-content">
    <div class="case-history-operation">
      <div class="actual-content">
        <div class="actual-content-title">
          <div class="actual-title-con">
            <h2>病情建立及分析</h2>
          </div>
        </div>
        <div class="actual-content-core">
          <div class="new-case-history">
            <div class="new-case-con">
              <div>
                <img src="../../../assets/img/no-photo.png" alt="">
              </div>
              <button>新建病例</button>
            </div>
          </div>
          <div class="result-analyze">
            <div class="new-case-con">
              <div>
                <img src="../../../assets/img/no-photo.png" alt="">
              </div>
              <button>分析结果</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="case-history-list">
      <div class="actual-content">
        <div class="actual-content-title">
          <div class="actual-title-con">
            <h2>病例列表</h2>
          </div>
        </div>
        <div class="actual-content-core" style="padding: 20px">
          <div style="height: 60px">
            <div style="float:left;width:50%;">
              <h3>病例列表</h3>
            </div>
            <div style="float:left;width:50%;text-align: right;padding: 20px 0" class="new-case-btn">
              <button>添加新病例</button>
            </div>
          </div>
          <div class="actual-content-con">
            <ngx-datatable
              class="material"
              [rows]="rows"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="8">
              <ngx-datatable-column name="ID" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="名称" prop="name" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="性别" prop="sex" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="联系电话" prop="telephone" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="接尘工龄" prop="age" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="粉尘性质" prop="property" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="就医时间" prop="time" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button>查看</button>
                  <button>修改</button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sh-footer">
    @2017 TM 尘肺病远程会诊中心
  </div>
</div>
